:root {
  --paddingH: 3em;
  --paddingV: 2em;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;

    display: flex;
    justify-content: center;
    background-color: rgb(236, 236, 236);
}

#root {
  flex-grow: 1;
  max-width: 800px;
}

.contentRoot {
  margin-top: 3em;
  width: 100%;
  flex-grow: 1;
  background-color: rgb(248, 248, 248);

  display: flex;
  flex-direction: column;
}

/*
HEADER
*/

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: white;
}

.headerContent img {
  height: 50px;
}

.headerContent h1 {
  font-weight: 400;
  padding-top: 6px;
}

/*
FORM CONTENT
*/

.formContentRoot {
  margin: var(--paddingV) var(--paddingH);
  gap: var(--paddingV);
  display: flex;
  flex-direction: column;
}


/*
INPUT FORM
*/

.formContent {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(248, 248, 248);
}

.formInputRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.formContent input {
  border-radius: 0.5em;
  border: 1px solid silver;
  padding: 1em;
  flex-grow: 1;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.formContent button {
  background-color: rgb(21, 21, 21);
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 1em;

  font-size: 0.875rem;
  font-weight: 500;
  font-family: Inter, sans-serif;

  cursor: pointer;
}

/*
GET RECIPE SECTION
*/

.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
    margin-top: var(--paddingV);
}

.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}